---
import "../styles/custom-tailwind.css"
import Navbar from "../components/navbar.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tchux Operating System</title>
	</head>
	<body class="bg-zinc-950 text-gray-50">
		<div class="min-h-screen flex flex-col">
            <Navbar/>
            <slot />
        </div>
	</body>
</html>